# Bonus: Temperature Analysis I

In [28]:
import pandas as pd
from datetime import datetime as dt

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy import create_engine
class HawaiiPrcpTobs:
   __tablename__ = 'prcptobs'
   id = Column(Integer, primary_key = True)
   station = Column(String)
   date = Column(String)
   prcp = Column(Float)
   tobs = Column(Float)

In [29]:
# "tobs" is "temperature observations"
hawaii_measurements = pd.read_csv('Resources/hawaii_measurements.csv')
hawaii_measurements.head(-1)

           station        date  prcp  tobs
0      USC00519397  2010-01-01  0.08    65
1      USC00519397  2010-01-02  0.00    63
2      USC00519397  2010-01-03  0.00    74
3      USC00519397  2010-01-04  0.00    76
4      USC00519397  2010-01-06   NaN    73
...            ...         ...   ...   ...
19544  USC00516128  2017-08-18   NaN    76
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20   NaN    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76

[19549 rows x 4 columns]

In [30]:
# Convert the date column format from string to datetime
engine=create_engine('sqlite:///Resources/hawaii_measurements.sqlite')
Session.to_sql('prcptobs', engine, if_exists='append', index=False)

In [32]:
#Finding average temperature by grouping by 
avg_june_temp=hawaii_measurements[hawaii_measurements['date'].str.slice(start=5, stop=7)=='06'].groupby(hawaii_measurements['station']).mean()
avg_dec_temp=hawaii_measurements[hawaii_measurements['date'].str.slice(start=5, stop=7)=='12'].groupby(hawaii_measurements['station']).mean()

In [33]:
#Display output
avg_june_temp['tobs']

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64

In [34]:
#Display output
avg_dec_temp['tobs']

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [35]:
# Calculate Independent (Two Sample) T-Test
import scipy.stats as stats
stats.ttest_ind(avg_june_temp['tobs'], avg_dec_temp['tobs'], equal_var=False)

Ttest_indResult(statistic=4.615865424404701, pvalue=0.0003657335214469917)